@mixin display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin display-flex {
    display: flex;
    flex-direction: row;
}
@mixin display-flex-column {
    display: flex;
    flex-direction: column;
}

$color-blue: #2C4792;
$brown-text: #58402C;
$light-brown: #FFE7D2;


.container {
    @include display-flex-column;
    width: 70%;
    margin: auto;
}