@import "Partials/_common.scss";

.bg-light-brown {
    background-color: $light-brown;
}
.how {
    @include display-flex-column;
    text-align: center;
    h1 {
        margin-top: 50px;
        max-width: 50%;
        align-self: center;
    }
    img {
        width: 250px;
        align-self: center;
    }
}
#HowItWorks {
    width: 100%;
}
.how-card-container {
    @include display-flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
.how-card{
    @include display-flex-column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    img {
        width: 200px;
        height: 120px;
        margin-bottom: 10px;
    }
}
#HowItWorks > div:nth-child(2) > div > div > div:nth-child(3) > img {
    width: 70px;
}
#HowItWorks > div:nth-child(2) > div {
    margin-top: 50px;
    border-top: 2px solid #DEC6B1;
    margin-bottom: 50px;
}
@media (min-width: 550px) and (max-width: 998px) {
    .how {
        @include display-flex-column;
        text-align: center;
        h1 {
            margin-top: 50px;
            max-width: 99%;
            align-self: center;
        }
        img {
            width: 250px;
            align-self: center;
        }
    }
    .how-card-container {
        @include display-flex-column;
        width: 70%;
        margin: auto;
        justify-content: space-between;
    }
    .how-card{
        @include display-flex-column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 25px;
        img {
            width: 120px;
            height: 80px;
            margin-bottom: 10px;
        }
    }
    #HowItWorks > div:nth-child(2) > div > div > div:nth-child(3) > img {
        width: 50px;
    }
    .last-img {
        padding-top: 50px;
    }
}
@media (min-width: 0px) and (max-width: 550px) {
    .how {
        @include display-flex-column;
        text-align: center;
        h1 {
            margin-top: 50px;
            max-width: 99%;
            align-self: center;
        }
        img {
            width: 250px;
            align-self: center;
        }
    }
    .how-card-container {
        @include display-flex-column;
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
    .how-card{
        @include display-flex-column;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 25px;
        img {
            width: 100px;
            height: 60px;
            margin-bottom: 10px;
        }
    }
    #HowItWorks > div:nth-child(2) > div > div > div:nth-child(3) > img {
        width: 50px;
    }
    .last-img {
        padding-top: 20px;
        width: 150px !important;
    }
}