@import "Partials/_common.scss";

.container-nav {
    @include display-flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid black;
    width: 70vw;
    margin: auto
}
.navbar-left {
    @include display-flex-center;
    h1 {
        margin-left: 5px;
        font-weight: 300;
    }
    img {
        margin-left: 10px
    }
}
.navbar-right {
    @include display-flex-center;
    a {
        padding: 0 20px;
        font-size: 17px;
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
}
.btn-navbar {
    @include display-flex-center;
    a {
        border: 2px solid $color-blue;
        color: $color-blue;
        font-weight: 700;
        border-radius: 5px;
        padding: 10px;
        &:hover {
            background-color: $color-blue;
            color: white;
        }
        img {
            height: 17px;
        }
    }

}