<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css/Sass -->
    <link rel="stylesheet" href="dist/css/app.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
    <title>Teambit</title>
</head>
<body>
    <div id="app">
        <!-- Header -->
        <header>
            <!-- NavBar -->
            <nav id="navbar">
                <div class="container-nav">
                    <div class="navbar-left">
                        <img src="dist/img/logo-small.svg" alt="">
                        <h1>Teambit</h1>
                    </div>
                    <div class="navbar-right">
                        <div class="link-navbar" v-for="(links,index) in navbar">
                            <a :href="[links.link]">{{links.name}}
                                <i :class="[links.icon]"></i>
                            </a>
                        </div>
                        <div class="btn-navbar">
                            <a href="#">
                                <img src="dist/img/google-logo.svg" alt="">
                                Sign up</a>
                        </div>
                    </div>
                    <div class="navbar-right-hamburger" @click="hamburgerToggle = !hamburgerToggle">
                        <i class="fas fa-bars fa-2x" v-if="!hamburgerToggle"></i>
                        <i class="fas fa-times fa-2x" v-else></i>
                    </div>
                </div>
                    <div v-if="hamburgerToggle">
                        <div class="navbar-right-media">
                            <div class="link-navbar" v-for="(links,index) in navbar">
                                <a :href="[links.link]">{{links.name}}
                                    <i :class="[links.icon]"></i>
                                </a>
                            </div>
                            <div class="btn-navbar-media">
                                <a href="#">
                                    <img src="dist/img/google-logo.svg" alt="">
                                    Sign up</a>
                            </div>
                        </div>
                    </div>
            </nav>
            <!-- Jumbotron -->
            <div id="jumbotron">
                <div class="container-jumbo">
                    <div class="jumbo-left">
                        <h1>Understand, recognize and develop your people</h1>
                        <h3>Teambit helps teams create a high performing culture with regular feedback.</h3>
                        <div class="singUpBtn">
                            <a href="#">
                                <img src="dist/img/google-logo.svg" alt="">
                                <span>Sing up with Google</span>
                            </a>
                            <span>or</span>
                            <a href="#">
                                <img src="dist/img/slack-logo.svg" alt="">
                                <span>Sing up with Slack</span>
                            </a>
                        </div>
                        <p>or use your email address <a href="#"><i class="fas fa-arrow-right"></i></a></p>
                    </div>
                    <div class="jumbo-right">
                        <img src="dist/img/illustration-main.jpg" alt="">
                    </div>
                </div>
            </div>
        </header>
        <!-- /Header -->
        <!-- Main -->
        <main>
            <!-- How It Works Section -->
            <section class="bg-light-brown" id="HowItWorks">
                <div class="container">
                    <div class="how">
                        <h1>Traditional People processes lead to disengagement and turnover</h1>
                        <div class="how-card-container" >
                            <div class="how-card" v-for="(card,index) in topCard">
                                <img :src="[card.img]" alt="">
                                <p>{{card.text}}</p>
                            </div>
                        </div>
                        <img src="dist/img/before.png" alt="" class="last-img">
                    </div>
                </div>
                <div class="container">
                    <div class="how">
                        <h1>It doesn't have to be like that. Teambit is a modern solution tha teammates love.</h1>
                        <div class="how-card-container" >
                            <div class="how-card" v-for="(card,index) in bottomCard">
                                <img :src="[card.img]" alt="">
                                <p>{{card.text}}</p>
                            </div>
                        </div>
                        <img src="dist/img/after.png" alt="" class="last-img">
                        <h1>Here is how it works
                        </h1>
                    </div>
                </div>
            </section>
            <!-- Feedback Section -->
            <section id="feedback">
                <div class="container-feedback">
                    <div class="feedback-card">
                        <div class="left-feedback-left">
                            <img src="dist/img/employee-feedback.jpg" alt="">
                        </div>
                        <div class="right-feedback-left">
                            <h1>Feedack to help teammates improve</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur molestiae, eligendi ut nostrum quasi nisi accusantium eius, 
                                repellat vitae reprehenderit dolorum illum maiores! Eaque assumenda itaque inventore minus debitis voluptas.</p>
                            <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                            <img src="dist/img/communication.jpg" alt="">
                        </div>
                        <div class="only-margin-left"></div>
                    </div> 
                    <div class="feedback-card">
                        <div class="only-margin-right"></div>
                        <div class="left-feedback-right">
                            <h1>Surveys to help the team be better</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ratione? Voluptatibus, 
                                reiciendis amet hic ex voluptate aspernatur natus repellat eligendi praesentium quas atque quae eveniet nam aliquam fuga iure. Quo.</p>
                                <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                                <img src="dist/img/insights.jpg" alt="">
                        </div>
                        <div class="right-feedback-right">
                            <img src="dist/img/employee-survey.jpg" alt="">
                        </div>
                    </div>
                    <div class="feedback-card">
                        <div class="left-feedback-left">
                            <img src="dist/img/employee-feedback.jpg" alt="">
                        </div>
                        <div class="right-feedback-left">
                            <h1>Reviews to help teammates get a fair evaluation</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur molestiae, eligendi ut nostrum quasi nisi accusantium eius, 
                                repellat vitae reprehenderit dolorum illum maiores! Eaque assumenda itaque inventore minus debitis voluptas.</p>
                            <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                            <img src="dist/img/review.jpg" alt="">
                        </div>
                        <div class="only-margin-left"></div>
                    </div> 
                    <div class="feedback-card">
                        <div class="only-margin-right"></div>
                        <div class="left-feedback-right">
                            <h1>Praise to gelp teammates feel valued</h1>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ratione? Voluptatibus, 
                                reiciendis amet hic ex voluptate aspernatur natus repellat eligendi praesentium quas atque quae eveniet nam aliquam fuga iure. Quo.</p>
                                <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                                <img src="dist/img/recognition.jpg" alt="">
                        </div>
                        <div class="right-feedback-right">
                            <img src="dist/img/employee-survey.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="dist/js/app.js"></script>
</body>
</html>