// scss @import 
@import "Partials/_common.scss";
@import "Partials/_navbar.scss";
@import "Partials/_header.scss";
@import "Partials/_main.scss";
@import "Partials/_footer.scss";
// Google font roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include display-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: $brown-text;
}
main {
    width: 100%;
    @include display-flex;
    justify-content: center;
    align-items: center;
}
